.header {
  grid-area: header;
  max-width: 100vw;
}

.banner {
  grid-area: banner;
  background-color: var(--main-light);
  height: 80vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}

.footer {
  grid-area: footer;
  background-color: darkkhaki;
  max-width: 100vw;
}

.about {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-items: center;
  text-align: center;
  grid-area: about;
  max-width: 100vw;
}

.courses {
  padding-top: 5%;
  margin-bottom: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-items: center;
  text-align: center;
  max-width: 100vw;
  grid-area: courses;
}

.grid-images {
  padding-top: 5%;
  margin-bottom: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-items: center;
  text-align: center;
  grid-area: gridImages;
  max-width: 100vw;
}

.blog {
  background: var(--main-blue);
  height: 140vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  grid-area: blog;
  padding: 0 2% 0 2%;
  max-width: 100vw;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header'
    'banner banner banner banner'
    'about about about about'
    'courses courses courses courses'
    'blog blog blog blog'
    'gridImages gridImages gridImages gridImages'
    'footer footer footer footer';
}

.courses-grid {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 0;
  padding: 0;
  justify-content: center;
  max-width: 100vw;
}

@media only screen and (min-width: 920px) {
  .banner {
    height: 120vh;
    max-width: 100vw;
  }
}
