.main-menu {
  display: flex;
  list-style: none;
  width: 70%;
  justify-content: flex-end;
  padding: 0 24px;
  align-items: center;
}

.main-menu a {
  text-decoration: none;
}

.desktop-option {
  display: none;
  visibility: hidden;
}

.icon-mobile-menu {
  color: var(--main-blue);
}

@media only screen and (min-width: 920px) {
  .mobile-menu {
    display: none;
  }

  .desktop-option {
    display: inline-block;
    visibility: visible;
    padding: 1% 2%;
  }
  .desktop-option a {
    color: var(--main-blue);
    padding: 20px;
    transition: all 0.4s ease;
  }

  .desktop-option:hover :last-child {
    background-color: var(--main-blue);
    color: var(--main-light);
  }
}
