.main-menu {
  display: flex;
  list-style: none;
  width: 70%;
  justify-content: flex-end;
}

.desktop-option {
  display: none;
  visibility: hidden;
}

.icon-mobile-menu {
  color: black;
}

@media only screen and (min-width: 920px) {
  .mobile-menu {
    display: none;
  }

  .desktop-option {
    display: inline-block;
    visibility: visible;
    padding: 0 5%;
  }
  .desktop-option a {
    color: black;
  }
}
