:root {
  --main-light: #ffffff;
  --main-orange: #e6851b;
  --main-blue: #243164;
  --main-green: #43d75a;
  --main-purple: #fd5882;
  --main-yellow: #fbc326;
}

body {
  font-family: 'Rubik', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Open Sans', 'Helvetica Neue', sans-serif;
}
